* {
    padding: 0;
    margin: 0;
  }

  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  body {
    background-color: #eee;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.3rem;
  }

  .header {
    height: 5vh;
    padding-top: 1rem;
  }

  .header .github-project {
    margin: 0 auto;
    text-align: center;
  }

  .main {
    width: 90%;
    margin: 1rem auto;
    height: 80vh;
  }

  .footer {
    height: 8vh;
    text-align: center;
    padding-top: 1.5rem;
  }

  .footer__author {
    font-size: 1.6rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: .5rem;
  }

  .footer__navigation {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding-top: .5rem;
  }

  .link-item {
    display: inline-block;
    overflow: hidden;
    transition: all .2s;
  }

  .link-item:not(:last-child) {
    margin-right: 1.5rem;
  }

  .link-item:hover {
    font-weight: 700;
  }

  .link-item::after {
    content: "";
    display: block;
    border-bottom: 3px solid;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all .5s;
  }

  .link-item:hover::after {
    transform: translateX(50%) scaleX(2);
    visibility: visible;
  }

  .link-item a:active, .link-item a:link, .link-item a:visited {
    text-decoration: none;
    color: inherit;
  }

  @media only screen and (max-width: 768px) {
    html {
      font-size: 50%;
    }

    .main {
      width: 100%;
      margin: initial;
    }
  }